{% extends "base/base.html" %}

{% load static %}
{% block base %}
<div class="container-fluid bg-dark py-5 ">
    <div class="container">
        <div class="card bg-muted border-0 shadow rounded-0">
            <div class="card-body">
                <h1 class="text-center fw-bold text-dark my-4">Staff Details</h1>
                <!-- Staff Profile content -->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card h-100">
                            <img src="{{ staff.profile_picture.url }}" class="card-img-top" alt="{{ staff.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ staff.name }}</h5>
                                <p class="card-text">{{ staff.bio }}</p>
                                <p class="card-text">Contact: {{ staff.contact_info }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock base %}